[Unit]
Description=

[Service]
User=root
WorkingDirectory=/root/bin
ExecStart=/bin/bash -c /root/ScriptsBundle/AutoVmHostName/AutoVmHostName.sh
Restart=always

[Install]
WantedBy=multi-user.target
